<!DOCTYPE html>
<html>
    <head>
        <title>Your offers</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../public/javascripts/script.js"></script>
    </head>
    <body></body>
    <div style="padding-top :20px" class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/home" class="navbar-brand">
                        <img src="/public/images/rocket.png" alt="cool logo" heigh="30" width="30" class="img-responsive">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/home"></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/inbox">
                                Inbox <img src="/public/images/msg_normal.png" alt="email icon" height="20" width="30" class="inbox">
                            </a>
                        </li>
                        <li>
                            <a href="/edit"><%= user.username %></a>
                        </li>
                        <li>
                            <a href="/edit" class="navbar-brand">
                                <img src="/public/images/profilec.png" alt="cool logo" heigh="30" width="30" class="img-circle">
                            </a>
                        </li>
                        <li>
                            <a href="/logout">Logout		</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-4">
                    <h2>Your offers, <%= user.username %>	</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-sm-3">
                    <form action="/newoffer" class="form-horizontal">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block">Post new offer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 pull-left">
                <form role="search" action="/offers" method="get" class="navbar-form"></form>
            </div>
        </div>
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="table-responsive">
                    <table id="userList" class="table table-striped">
                        <thead>
                            <th>Job Title</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Budget</th>
                            <th>Location</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
                <div class="panel panel-default">
                    <div class="panel-heading">Search settings</div>
                    <div class="panel-body">
                        <form action="" method="get">
                            Title<br>
                            <br>
                            <div class="form-group">
                                <input type="text" placeholder="Search" name="search" class="form-control">
                            </div>
                            <hr>
                            Location<br>
                            <br>
                            <div class="form-group">
                                <input type="text" placeholder="City" name="location" class="form-control">
                            </div>
                            <hr>
                            Status<br>
                            <br>
                            <div class="form-group">
                                <input type="checkbox" name="status" value="Pending">&nbsp;Pending
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="status" value="Approved">&nbsp;Approved
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="status" value="Done">&nbsp;Done	
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-block">Find</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="tests"></div>
    </div>
</html>
