<html>
    <head>
        <title>Your unfinised work</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="w3-theme-l5">
        <div class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="/dashboard" class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                    <i class="fa fa-home w3-margin-right"></i>
                    Logo
                </a>
                <a href="/user-profile/<%= user._id %>" class="w3-bar-item w3-button w3-hide-small w3-padding-16 w3-hover-white" title="Account Settings">
                    <i class="fa fa-user"></i>
                </a>
                <a href="/user-profile/msg/<%= user._id %>" class="w3-bar-item w3-button w3-hide-small w3-padding-16 w3-hover-white" title="Account Settings">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="/logout" class=" w3-button w3-right w3-padding-16 w3-hover-white glyphicon glyphicon-log-out" title="Logout"></a>
            </div>
        </div>
        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Inbox</a>
            <a href="/user-profile/<%= user._id %>" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
        </div>
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
            <div class="w3-row">
            <div class="col-md-12">
                <div class="col-sm-4">
                    <h2>Your unfinised work, <%= user.username %>  </h2>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 pull-left">
                <form role="search" action="/offers" method="get" class="navbar-form"></form>
            </div>
        </div>
        <div class="w3-row ">
            <div class="col-xs-12 col-sm-9">
                <div class="table-responsive">
                    <table id="userList" class="table table-striped">
                        <thead>
                            <th>Project Title</th>
                            <th>Description</th>
                            <th>Status</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
                <div class="panel panel-default">
                    <div class="panel-heading">Search settings</div>
                    <div class="panel-body">
                        <form action="" method="get">
                            Title<br>
                            <br>
                            <div class="form-group">
                                <input type="text" placeholder="Search" name="search" class="form-control">
                            </div>
                            <hr>
                            Location<br>
                            <br>
                            <div class="form-group">
                                <input type="text" placeholder="City" name="location" class="form-control">
                            </div>
                            <hr>
                            Status<br>
                            <br>
                            <div class="form-group">
                                <input type="checkbox" name="status" value="Pending">&nbsp;Pending
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="status" value="Approved">&nbsp;Approved
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="status" value="Done">&nbsp;Done    
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-block">Find</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="tests"></div>
        </div>
        <footer class="w3-container w3-theme-d3 w3-padding-16">
            <h5>Footer</h5>
        </footer>
        

    <script>
            // Accordion
            function myFunction(id) {
                var x = document.getElementById(id);
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                    x.previousElementSibling.className += " w3-theme-d1";
                } else {
                    x.className = x.className.replace("w3-show", "");
                    x.previousElementSibling.className = x.previousElementSibling.className.replace(" w3-theme-d1", "");
                }
            }

            // Used to toggle the menu on smaller screens when clicking on the menu button
            function openNav() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }

        </script>
    </body>

</html>
